<section class="recipe-section">
  <div class="recipe-container">
    <div class="recipe-content">
      <h1 class="recipe-title">Most Popular Recipe</h1>
      <p class="recipe-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      
     
      <div class="recipe-cards">
        <div class="recipe-card" (click)="setActive(0)">
          <img src="/images/Mısır.jpg" alt="Pasta" class="recipe-card-image" />
          <div class="recipe-card-info">
            <span class="recipe-card-name">Pasta</span>
            <span class="recipe-card-price">$30</span>
          </div>
        </div>
        
        <div class="recipe-card" (click)="setActive(1)">
          <img src="/images/Hotdog.jpg" alt="Hot Dog" class="recipe-card-image" />
          <div class="recipe-card-info">
            <span class="recipe-card-name">Hod Dog</span>
            <span class="recipe-card-price">$30</span>
          </div>
        </div>
        
        <div class="recipe-card" (click)="setActive(2)">
          <img src="/images/Köfte.jpg" alt="Hamburger" class="recipe-card-image" />
          <div class="recipe-card-info">
            <span class="recipe-card-name">Hamburger</span>
            <span class="recipe-card-price">$30</span>
          </div>
        </div>
      </div>
      
      
      <div class="recipe-pagination">
        <span class="pagination-dot" [class.active]="activeIndex === 0"></span>
        <span class="pagination-dot" [class.active]="activeIndex === 1"></span>
        <span class="pagination-dot" [class.active]="activeIndex === 2"></span>
      </div>
    </div>
  </div>
</section>
