<div class="home-wrapper">
  <section class="hero-section">
   
    <header class="site-header">
      <div class="header-inner">
        
        <a class="brand" routerLink="/">
          <img class="brand-logo" src="/images/logo.jpg" alt="American Food logo" />
          <div class="brand-text">
            <div class="brand-title">American Food</div>
            <div class="brand-subtitle">your logo here</div>
          </div>
        </a>
    
       
        <nav class="nav">
          <a class="nav-link is-active" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/menu">Menu</a>
          <a class="nav-link" routerLink="/blog">Blog</a>
          <a class="nav-link" routerLink="/store">Store</a>
          <a class="nav-link" routerLink="/contact">Contact</a>
        </nav>
      </div>
    </header>

    
    <img class="hero-yellow-shape" src="/images/shapes.jpg" alt="" />
    
    <img class="hero-blue-shape" src="/images/blueshape.png" alt="" />
    
    <div class="hero-container">
      <div class="hero-image-wrapper hero-image-left">
        <img src="/images/yemek.jpg" alt="Food" class="hero-image" />
      </div>
      <div class="hero-content">
        <h1 class="hero-title">Popular belief simply random text roots in a piece of classical</h1>
        <p class="hero-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <button class="hero-button">Get Started</button>
      </div>
      <div class="hero-image-wrapper hero-image-right">
        <img src="/images/hamburger.jpg" alt="Hamburger" class="hero-image" />
      </div>
    </div>
  </section>

  <app-recipe />
  <app-order />
  <app-taste />
  <app-about />
  <app-blog />
  <app-profile />
  <app-map />
  <app-footer />
</div>
