<section class="taste-section">
  <div class="taste-container">
    
    <div class="taste-content">
      <h1 class="taste-title">
        Great Taste<br>
        and Good Quality
      </h1>
      <p class="taste-description">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <button class="taste-button">Shop Now</button>
    </div>
    
    
    <div class="taste-images-wrapper">
      <img src="/images/design.jpg" alt="Design" class="taste-image taste-image-design" />
      <img src="/images/hamburgeryeni.png" alt="Hamburger Menu" class="taste-image taste-image-hamburger" />
    </div>
  </div>
</section>
