<section class="order-section">
  <div class="order-container">
    
    <div class="order-images-wrapper">
      <img src="/images/tamfoto.jpeg" alt="Order" class="order-image order-image-main" />
    </div>
    
    
    <div class="order-content">
      <h1 class="order-title">
        Order Now!<br>
        and <span class="order-highlight">Get 50% Off</span>
      </h1>
      <p class="order-description">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <button class="order-button">Shop Now</button>
    </div>
  </div>
</section>
