/* Genel sayfa genişliği + Nunito Sans varsayılan font */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  max-width: 1980px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-y: hidden;
}

app-root {
  display: block;
  overflow: visible;
  height: 100vh;
  position: relative;
}
